/vendor
/node_modules
.env
.env.backup
database/database.sqlite
*.log
.phpunit.cache
/storage/logs
/storage/framework/cache
/storage/framework/sessions
/storage/framework/views
/bootstrap/cache
.idea/
